<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-permission" 
version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" 
xmlns:android="http://schemas.android.com/apk/res/android">
<name>PermissionPlugin</name>
 
<platform name="android">
   
 <config-file parent="/*" target="res/xml/config.xml">    
    <feature name="PermissionPlugin">
        <param name="android-package" value="cordova.plugin.permissionplugin.PermissionPlugin" />
    </feature>
 </config-file>
<source-file src="src/android/PermissionPlugin.java" target-dir="src/cordova.plugin/permissionplugin" />
	
</platform>

</plugin>
